@{
    ViewData["Title"] = "About";
}
    <p>The Uganda Property Reference is an ongoing compilation of accurately researched information to enable all Uganda property industry participants to make informed decisions. At present, it comprises 02 sections, the <a href="#">Sold Properties Database</a> and the <a href="#"> Land Affected By Infrastructure Projects </a> database. It is still in its experimental phase for another 01 year period during which more detailed research material and results will be availed to facilitate investment decisions in the Uganda property market. </p>
    <p>
        At present, the <a href="#">Sold Properties Database</a> is for properties sold countrywide in Uganda from 2013 to date while the <a href="#"> Land Affected By Infrastructure Projects </a> database shows the ongoing and upcoming infrastructure projects in Uganda and the land blocks that they will affect.
    </p>
    <h3>Source of Data</h3>
    <p>
        The <a href="#">Sold Properties Database</a> uses sales data from Stamp Duty records while the <a href="#"> Land Affected By Infrastructure Projects </a> database uses strip maps and reports, both sourced from the Valuation Department, Ministry of Lands, Housing and Urban Development only.

        Other independent sources are most welcome. Please go to the <a href="#">Participate</a> page. We will be able to create credible indices once we have more sources on board.

    </p>
    <h3>Frequency of Publishing</h3>
    <p>
        The database is published monthly, with reports updated quarterly.
    </p>
    <h3> How to Use the <a href="#">Sold Properties Database</a></h3>
    <p>
        From the <a href="#">Sold Properties Database</a>, you can identify a specific subset of property price data that you are interested in, and then download or print it. At present, the subset available is the block number as per the certificate of title. You will need to have the village and block number of the specific property you are enquiring about on hand. You will then be able to download data specific to the property or even download all of the data in pdf format. See <a data-toggle="modal" data-target="#myModal">Demo</a>

        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Demonstration</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#mailo">Mailo</a></li>
                            <li><a data-toggle="tab" href="#freehold">Freehold</a></li>
                            <li><a data-toggle="tab" href="#leasehold">Leasehold</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="mailo" class="tab-pane fade in active">
                                <h4>Insert Village and  block as shown below</h4>
                                <img src="~/Pictures/pic 01.jpg" class="img-responsive" />
                            </div>
                            <div id="freehold" class="tab-pane fade">
                                <h4>Insert Village and  block as shown below</h4>
                                <img src="~/Pictures/pic 03.jpg" class="img-responsive" />
                            </div>
                            <div id="leasehold" class="tab-pane fade">
                                <h4>Insert Village and  block as shown below</h4>
                                <img src="~/Pictures/pic 02.jpg" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </p>
    <p>
        Other search criteria such as “Tenure” and the “Use” will be available in the very near future.
    </p>



    <h3>
        How to Use the <a href="#"> Land Affected By Infrastructure Projects</a> database
    </h3>
    <p>
        Using the Map of Uganda, you can have the general overview of the ongoing and proposed infrastructure projects in the district or village of your interest. However, using the village and block number from your certificate of title, you can narrow this down to see whether the block on which the property you are interested in is affected. See <a href="#">Demo</a>
    </p>
    <h2 style="text-underline-position:auto">
        Future Plans
    </h2>

     
            <h3>     Uganda Independent Property Price Index with Linked-Data</h3>
        <p>
            We are in negotiations with other credible data sources to be able to compare and thereafter build measureable indices to enable informed investment decision making.

        </p>
